<?xml version="1.0"?>
<model>
  <name>Grid Bins</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>TossingBot</name>
    <email>tossingbot@example.com</email>
  </author>
  <description>
    A grid of bins for the landing table. 
    Divided into lanes (Y-axis) and depth sections (X-axis).
  </description>
</model>