<?xml version="1.0"?>
<model>
  <name>I_shape_small</name>  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf> <author>
    <name>User</name>
    <email>user@todo.todo</email>
  </author>

  <description>Scaled version (75%) of I_shape - smaller and more colorful for gripper testing.</description>
</model>