<?xml version="1.0" encoding="utf-8"?>
<launch>

  <include file="$(find custom_sawyer_gazebo)/launch/spawn_robot.launch"/>

  <node name="tossing_action_server" 
        pkg="tossing" 
        type="TossingActionServer.py"
        output="screen"/>

  <node name="grasping_action_server" 
        pkg="grasping" 
        type="GraspingActionServer.py"
        output="screen"/>

  <node name="landing_detection_action_server" 
        pkg="plain_perception" 
        type="LandingDetectionActionServer.py"
        output="screen"/>

  <node name="pick_and_toss" 
        pkg="simulation" 
        type="simulation.py"
        output="screen"/>
  

</launch>
