<?xml version="1.0" ?>
<robot name="tossingbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="pedestal" default="false"/>
  <xacro:arg name="static" default="true"/>
  <xacro:arg name="pneumatic_gripper" default="true"/>
  <xacro:arg name="finger_pads_file" default="$(find tossingbot_gripper_description)/urdf/finger_pads_flat.xacro"/>

  <!-- Include Sawyer Base -->
  <xacro:include filename="$(find sawyer_description)/urdf/sawyer_base.urdf.xacro" />

  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="$(find sawyer_description)/urdf/sawyer_base.gazebo.xacro" />
  </xacro:if>

  <!-- Include Tossingbot Pneumatic Gripper -->
  <xacro:if value="$(arg pneumatic_gripper)">
    <xacro:include filename="$(find tossingbot_gripper_description)/urdf/pneumatic_gripper.urdf.xacro" />
  </xacro:if>

</robot>
