<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rethink_pneumatic_gripper">

  <xacro:macro name="rethink_pneumatic_gripper" params="side gazebo use_ftsensor tip_slot_pos finger_slot_pos finger_pads_file">

    <!-- Include the selected finger pads file -->
    <xacro:include filename="${finger_pads_file}" />

    <!-- Properties -->
    <xacro:property name="end_of_arm_offset" value="-0.009" scope="local"/>
    <xacro:property name="tip_slot_offset" value="0.015" scope="local"/>
    <xacro:property name="finger_slot_offset" value="-0.008" scope="local"/>
    <xacro:property name="connector_plate_length" value="0.032" scope="local"/>
    <xacro:property name="pneumatic_gripper_base_length" value="0.0282" scope="local"/>
    <xacro:property name="ft_sensor_length" value="0.033" scope="local"/>
    <xacro:property name="adapter_top_length" value="0.013" scope="local"/>
    <xacro:property name="adapter_bottom_length" value="0.018" scope="local"/>
    <xacro:property name="finger_move_length" value="0.012" scope="local"/>
    <xacro:property name="finger_base_length" value="0.006" scope="local"/>
    <xacro:property name="finger_to_tip_length" value="${0.0726-((tip_slot_pos-1)*0.015)}" scope="local"/>
    <xacro:property name="finger_total_length" value="${finger_move_length + finger_base_length + finger_to_tip_length}" scope="local"/>

    <!-- Gripper Base -->
    <link name="${side}_gripper_base">
      <inertial>
        <mass value="1.902"/>
        <origin rpy="0 0 0" xyz="0.0028 -0.0004 0.0343"/>
        <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
      </inertial>
    </link>

    <joint name="${side}_connector_plate_base_joint" type="fixed">
       <origin xyz="0 0 0.0018" rpy="0 0 0" />
       <parent link="${side}_gripper_base"  />
       <child  link="${side}_connector_plate_base" />
    </joint>
     
    <link name="${side}_connector_plate_base">
      <visual>
        <origin xyz="0 0 0" rpy="${pi} 0 0" />
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/smart_click_adapter.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="TossingBot/Black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.0135" rpy="${pi} 0 0" />
        <geometry><cylinder length="${connector_plate_length}" radius="0.06"/></geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="${pi} 0 0" />
        <mass value="0.387" />
        <inertia ixx="0.0000292897" ixy="6.1026E-08" ixz="-1.5353186E-7" iyy="0.0000296079" iyz="-3.597884E-8" izz="0.0000508198" />
      </inertial>
    </link>

    <joint name="${side}_connector_plate_mount_joint" type="fixed">
      <origin xyz="0 0 ${connector_plate_length} " rpy="0 0 0" />
      <parent link="${side}_connector_plate_base"  />
      <child  link="${side}_connector_plate_mount" />
    </joint>
    <link name="${side}_connector_plate_mount" />

    <joint name="${side}_connector_plate_ft_sensor_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${side}_connector_plate_mount"  />
      <child  link="${side}_ft_sensor_link" />
    </joint>

    <link name="${side}_ft_sensor_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi} 0 ${pi/2}" />
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/ati_9105_t_delta.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${ft_sensor_length*0.5}" rpy="${pi} 0 ${pi/2}" />
        <geometry><cylinder length="${ft_sensor_length}" radius="0.046"/></geometry>
      </collision>
      <inertial>
        <origin rpy="${pi} 0 ${pi/2}" xyz="0 0 0"/>
        <mass value="0.919"/>
        <inertia ixx="0.0001756735" ixy="6.8322E-8" ixz="-2.7814E-8" iyy="0.0001757811" iyz="-9.2588E-8" izz="0.0002122946"/>
      </inertial>
    </link>

    <joint name="${side}_ft_sensor_adapter_top_joint" type="fixed">
      <origin xyz="0 0 ${ft_sensor_length}" rpy="0 0 0" />
      <parent link="${side}_ft_sensor_link" />
      <child  link="${side}_adapter_top" />
    </joint>

    <link name="${side}_adapter_top">
      <visual>
        <origin xyz="0 0 ${adapter_top_length}" rpy="${-pi/2} 0 0" />
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/ft_gripper_adapter_top.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${adapter_top_length*0.5}" rpy="0 0 0" />
        <geometry><cylinder length="${adapter_top_length}" radius="0.046"/></geometry>
      </collision>
      <inertial>
        <origin rpy="${-pi/2} 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.061"/>
        <inertia ixx="0.0000418848" ixy="0" ixz="0" iyy="0.0000761051" iyz="0" izz="0.0000418848"/>
      </inertial>
    </link>

    <joint name="${side}_adapter_top_bottom_joint" type="fixed">
      <origin xyz="0 0 ${adapter_top_length}" rpy="0 0 0" />
      <parent link="${side}_adapter_top" />
      <child  link="${side}_adapter_bottom" />
    </joint>

    <link name="${side}_adapter_bottom">
      <visual>
        <origin xyz="0 0 ${adapter_bottom_length}" rpy="${-pi/2} 0 ${pi/2}" />
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/ft_gripper_adapter_bottom.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${adapter_bottom_length*0.5}" rpy="0 0 ${pi/2}" />
        <geometry><cylinder length="${adapter_bottom_length}" radius="0.046"/></geometry>
      </collision>
      <inertial>
        <origin rpy="${-pi/2} 0 ${pi/2}" xyz="0.0 0.0 0.0"/>
        <mass value="0.098"/>
        <inertia ixx="0.0000721906" ixy="0" ixz="0" iyy="0.0001202265" iyz="0" izz="0.0000723151"/>
      </inertial>
    </link>

    <joint name="${side}_pneumatic_base_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 ${adapter_bottom_length}"/>
      <parent link="${side}_adapter_bottom"/>
      <child link="${side}_pneumatic_gripper_base"/>
    </joint>

    <link name="${side}_pneumatic_gripper_base">
      <visual>
        <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/sz_16_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/DarkGrey"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="-0.012 0 0.0196"/>
        <geometry><box size="0.056 0.0871 0.0392"/></geometry>
      </collision>
      <inertial>
        <origin rpy="${pi/2} 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.311"/>
        <inertia ixx="0.0000330475" ixy="1.31E-8" ixz="0" iyy="0.0000176978" iyz="0" izz="0.0000203961"/>
      </inertial>
    </link>

    <joint name="${side}_pneumatic_cover_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 ${adapter_bottom_length}"/>
      <parent link="${side}_adapter_bottom"/>
      <child link="${side}_pneumatic_gripper_cover"/>
    </joint>

    <link name="${side}_pneumatic_gripper_cover">
      <visual>
        <origin rpy="0 0 ${pi}" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/gripper_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Black"/>
      </visual>
    </link>

    <!-- Fingers -->
    <joint name="${side}_gripper_l_finger_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0 0 ${pneumatic_gripper_base_length}"/>
      <axis xyz="0 1 0"/>
      <parent link="${side}_pneumatic_gripper_base"/>
      <child link="${side}_gripper_l_finger"/>
      <limit effort="20.0" lower="0.0" upper="0.016" velocity="5.0"/>
    </joint>

    <link name="${side}_gripper_l_finger">
      <visual>
        <origin rpy="${pi/2} 0 0" xyz="0 0.0295 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/sz_16_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="${pi/2} 0 0" xyz="0 0.0295 0"/>
        <mass value="0.010"/>
        <inertia ixx="0.0000013187" ixy="0" ixz="0" iyy="0.0000012511" iyz="2.8731E-7" izz="2.2756E-7"/>
      </inertial>
    </link>

    <joint name="${side}_gripper_l_finger_base_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.012"/>
      <parent link="${side}_gripper_l_finger"/>
      <child link="${side}_gripper_l_finger_base"/>
    </joint>

    <link name="${side}_gripper_l_finger_base">
      <visual> 
        <origin rpy="0 0 ${pi/2}" xyz="0 0.0185 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/pneumatic_finger_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="0 0 ${pi/2}" xyz="0 0.0185 0"/>
        <mass value="0.029"/>
        <inertia ixx="0.00000151" ixy="-1.23E-12" ixz="0.0000025354" iyy="0.000042463" iyz="-1.23E-12" izz="0.0000433196"/>
      </inertial>
    </link>

    <joint name="${side}_gripper_l_finger_body_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 ${(finger_slot_pos-1)*0.008} 0.006"/>
      <parent link="${side}_gripper_l_finger_base"/>
      <child link="${side}_gripper_l_finger_body"/>
    </joint>

    <link name="${side}_gripper_l_finger_body">
      <visual>
        <origin rpy="0 0 ${pi/2}" xyz="0 -0.0035 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/pneumatic_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="0 0 ${pi/2}" xyz="0 -0.0035 0"/>
        <mass value="0.037"/>
        <inertia ixx="0.0000683111" ixy="-1.24623E-9" ixz="0.0000038251" iyy="0.0000668321" iyz="-1.738481E-8" izz="0.0000031831"/>
      </inertial>
    </link>

    <!-- Attach the Pad (Left) -->
    <xacro:finger_pad side="${side}" finger="l" parent="${side}_gripper_l_finger_body" tip_slot_pos="${tip_slot_pos}"/>

    <!-- Right Finger (Mimic) -->
    <joint name="${side}_gripper_r_finger_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0 0 ${pneumatic_gripper_base_length}"/>
      <axis xyz="0 1 0"/>
      <parent link="${side}_pneumatic_gripper_base"/>
      <child link="${side}_gripper_r_finger"/>
      <limit effort="20.0" lower="-0.016" upper="0.0" velocity="5.0"/>
      <mimic joint="${side}_gripper_l_finger_joint" multiplier="-1.0"/>
    </joint>

    <link name="${side}_gripper_r_finger">
      <visual>
        <origin rpy="${pi/2} 0 ${pi}" xyz="0 -0.0295 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/sz_16_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="${pi/2} 0 ${pi}" xyz="0 -0.0295 0"/>
        <mass value="0.010"/>
        <inertia ixx="0.0000013187" ixy="0" ixz="0" iyy="0.0000012511" iyz="2.8731E-7" izz="2.2756E-7"/>
      </inertial>
    </link>

    <joint name="${side}_gripper_r_finger_base_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.012"/>
      <parent link="${side}_gripper_r_finger"/>
      <child link="${side}_gripper_r_finger_base"/>
    </joint>

    <link name="${side}_gripper_r_finger_base">
      <visual>
        <origin rpy="0 0 ${-pi/2}" xyz="0 -0.0185 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/pneumatic_finger_base.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="0 0 ${-pi/2}" xyz="0 -0.0185 0"/>
        <mass value="0.029"/>
        <inertia ixx="0.00000151" ixy="-1.23E-12" ixz="0.0000025354" iyy="0.000042463" iyz="-1.23E-12" izz="0.0000433196"/>
      </inertial>
    </link>

    <joint name="${side}_gripper_r_finger_body_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 ${(finger_slot_pos-1)*-0.008} 0.006"/>
      <parent link="${side}_gripper_r_finger_base"/>
      <child link="${side}_gripper_r_finger_body"/>
    </joint>

    <link name="${side}_gripper_r_finger_body">
      <visual>
        <origin rpy="0 0 ${-pi/2}" xyz="0 0.0035 0"/>
        <geometry>
          <mesh filename="package://tossingbot_gripper_description/meshes/STL/pneumatic_finger.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="TossingBot/Grey"/>
      </visual>
      <inertial>
        <origin rpy="0 0 ${-pi/2}" xyz="0 0.0035 0"/>
        <mass value="0.037"/>
        <inertia ixx="0.0000683111" ixy="-1.24623E-9" ixz="0.0000038251" iyy="0.0000668321" iyz="-1.738481E-8" izz="0.0000031831"/>
      </inertial>
    </link>

    <!-- Attach the Pad (Right) -->
    <xacro:finger_pad side="${side}" finger="r" parent="${side}_gripper_r_finger_body" tip_slot_pos="${tip_slot_pos}"/>

    <!-- Reference Links -->
    <joint name="${side}_gripper_base_joint" type="fixed">						  
      <origin rpy="0 0 0" xyz="0 0 ${end_of_arm_offset}"/>
      <parent link="${side}_hand"/>
      <child link="${side}_gripper_base"/>
    </joint>

    <joint name="${side}_gripper_tip_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 ${(end_of_arm_offset*-1)+connector_plate_length+ft_sensor_length+adapter_top_length+adapter_bottom_length+pneumatic_gripper_base_length+finger_total_length}"/>
      <parent link="${side}_gripper_base"/>
      <child link="${side}_gripper_tip"/>
    </joint>
    <link name="${side}_gripper_tip"/>

    <!-- Gazebo / Transmissions -->
    <xacro:if value="${gazebo}">
      <gazebo reference="${side}_connector_plate_base"><material>Gazebo/FlatBlack</material></gazebo>
      <gazebo reference="${side}_ft_sensor_link"><material>Gazebo/Grey</material></gazebo>
      <gazebo reference="${side}_pneumatic_gripper_base"><material>Gazebo/DarkGrey</material></gazebo>
      <gazebo reference="${side}_pneumatic_gripper_cover"><material>Gazebo/FlatBlack</material></gazebo>
      <gazebo reference="${side}_gripper_l_finger"><material>Gazebo/Grey</material></gazebo>
      <gazebo reference="${side}_gripper_r_finger"><material>Gazebo/Grey</material></gazebo>

      <transmission name="gripper_${side}1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${side}_gripper_r_finger_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="gripper_${side}_motor1">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

      <transmission name="gripper_${side}2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${side}_gripper_l_finger_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="gripper_${side}_motor2">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

      <gazebo reference="${side}_gripper_r_finger_joint">
        <implicitSpringDamper>1</implicitSpringDamper>
      </gazebo>
      <gazebo reference="${side}_gripper_l_finger_joint">
        <implicitSpringDamper>1</implicitSpringDamper>
      </gazebo>
    </xacro:if>

  </xacro:macro>
</robot>
